:root {
  --yellow: #ffe135;
  --white: #ffffff;
  --black: #000000;
  --green: #25d366;
  --black-op50: rgba(0, 0, 0, 0.5);
  --grey-40: #404040;
  --grey-59: #595959;
  --grey-71: #717171;
  --grey-ed: #ededed;
  --grey-de: #dedede;
}

.desktop-navbar a {
  color: var(--grey-71);
}

.white {
  color: var(--white);
}

.grey-71 {
  color: var(--grey-71);
}

.grey-40 {
  color: var(--grey-40);
}

.grey-59 {
  color: var(--grey-59);
}

.grey-9c {
  color: var(--grey-9c);
}
