:root {
  --green: #25d366;
  --yellow-solid: #ffbb00;
  --yellow-pure: #ffe135;
  --red-solid: #f45858;
  --black-000: #000;
  --black-111: #111111;
  --grey-40: #404040;
  --grey-c: #cccccc;
  --white: #ffffff;
  --grey-b2: #b2b2b2;
  --grey-71: #717171;
  --blue: #1e91e4;
  --grey-ed: #ededed;
}