.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 20px;
  margin-bottom: 60px;
}

.desktop-menu ul {
  display: flex;
  gap: 20px;
}

.desktop-menu li a {
  padding: 10px 20px;
  border-radius: 4px;
  transition: 0.2s;
}

.desktop-menu li:hover a{
  background: var(--yellow-pure);
}

@media (max-width: 600px) {
  .desktop-menu {
    display: none;
  }

  .logo img {
    transform: scale(80%);
  }

  .header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
    margin-bottom: 20px;
  }
}
