.introduction {
  margin-top: 60px;
  margin-bottom: 160px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  gap: 120px;
}

.presentation {
  display: flex;
  gap: 20px;
}

.presentation h1 {
  margin-bottom: 20px;
}

.presentation::before {
  content: '';
  display: block;
  width: 60px;
  height: auto;
  background: var(--grey-ed);
}

.orcamento {
  background: var(--green);
  color: var(--white);
  border-radius: 4px;
  padding: 12px 24px;
  display: flex;
  align-items: center;
  gap: 12px;
  width: fit-content;
  transition: 0.3s;
  margin: 40px 0px 0px 34px;
}

.orcamento:hover {
  transform: scale(1.05);
}

.mosaic {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.mosaic .column {
  display: grid;
  gap: 20px;
}

.mosaic img {
  object-fit: cover;
  width: 260px;
  height: 320px;
}

.mosaic .small-img {
  width: 260px;
  height: 160px;
}

@media (max-width: 1000px) {
  .introduction {
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    gap: 0px;
    margin-top: 40px;
  }

  .introduction p {
    max-width: 50ch;
  }

  .mosaic {
    display: none;
  }
}

@media (max-width: 600px) {
  .orcamento {
    margin: 40px 0px 0px 30px;
  }

  .presentation::before {
    width: 20px;
  }

  .mosaic {
    display: none;
  }
}
