::root {
  --mr-1: 1rem;
  --mm-125: 1.25rem;
  --pm-1: 1rem;
  --mr-225: 2.25rem;
  --ms-125: 1.25rem;
  --pl-1: 1rem;
  --pr-1: 1rem;
}

.desktop-navbar a {
  font: 500 1rem/1.5 'montserrat', sans-serif;
}

.mm-1 {
  font: 500 1rem/1.5 'montserrat', sans-serif;
}

.mr-1 {
  font: 400 1rem/1.5 'montserrat', sans-serif;
}

.mr-225 {
  font: 400 2.25rem/1.5 'montserrat', sans-serif;
}

.ms-1 {
  font: 600 1rem/1.5 'montserrat', sans-serif;
}

.pl-1 {
  font: 300 1rem/1.5 'poppins', sans-serif;
}
