::root {
  --mr-1: 1rem;
  --mm-125: 1.25rem;
  --pm-1: 1rem;
  --mr-225: 2.25rem;
  --ms-125: 1.25rem;
  --pl-1: 1rem;
  --pr-1: 1rem;
}

.desktop-navbar a {
  font: 500 1rem/1.5 'montserrat', sans-serif;
}

.mm-1 {
  font: 500 1rem/1.5 'montserrat', sans-serif;
}

.mr-1 {
  font: 400 1rem/1.5 'montserrat', sans-serif;
}

.mr-125 {
  font: 400 1.25rem/1.875 'montserrat', sans-serif;
}

.mr-15 {
  font: 400 1.5rem/1.875 'montserrat', sans-serif;
}

.mr-225 {
  font: 400 2.25rem/1.5 'montserrat', sans-serif;
}

.mm-1 {
  font: 500 1rem/1.5 'montserrat', sans-serif;
}

.ms-1 {
  font: 600 1rem/1.5 'montserrat', sans-serif;
}

.pr-1 {
  font: 400 1rem/1.5 'poppins', sans-serif;
}

.pr-08 {
  font: 400 0.8rem/1.5 'poppins', sans-serif;
}

.pl-1 {
  font: 300 1rem/1.5 'poppins', sans-serif;
}

@media (max-width: 600px) {
  .mr-225 {
    font: 400 1.5rem/1.5 'montserrat', sans-serif;
  }

  @media (max-width: 300px) {
    .pr-1 {
      font: 400 0.8rem/1.6 'poppins', sans-serif;
    }
    .ms-1 {
      font: 600 0.8rem/1.2 'montserrat', sans-serif;
    }
  }
}
